.nav{
    max-width: 50rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: .1rem solid #ccc;
}

.nav a{
    font-size: 2rem;
    font-family: 'Lexend Deca', sans-serif;
    color: #ccc;
    border-bottom: .3rem solid transparent;
}

.nav a:hover{
    border-color: #3A3845;
}

.nav a.active {
    color: #FFA;
    border-color: #68B984;
}
/* Media query for smaller screens */
@media (max-width: 768px) {
    .nav {
        max-width: 40rem;
        flex-direction: row; 
    }

    .nav a {
        font-size: 1.5rem; /* Decrease font size for smaller screens */
        margin-bottom: 1rem; /* Add spacing between links */
        text-align: center; /* Center-align text */
    }
}
